#ddd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

body {
    background-color: aliceblue;
}


.mmm {

    background-color: gray;
}

#ppp {
    padding-left: 200px;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif, arial;
    outline: 0;
}

$cle-primary: #0054ff;
$transition: ease-in-out 200ms;

body {
    font-size: 16px;
    color: #000;
    line-height: 1.5;
}

.contact {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 50px;

    &-title {
        font-size: 32px;
        margin-bottom: 5px;
    }

    &-subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }

    &-form {
        .contact-form-item {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 30px;

            label {
                margin-bottom: 10px;
                transition: $transition;
            }

            input,
            textarea {
                border: 0;
                background-color: #fff;

                box-shadow: 0 0 0 1px #000;
                border-radius: 3px;
                transition: $transition;

                &:invalid {
                    box-shadow: 0 0 0 1px red;
                    color: red;

                    ~label {
                        color: red;
                    }
                }

                &:invalid:focus {
                    color: red;
                    box-shadow: 0 0 0 1px red;

                    ~label {
                        color: red;
                    }
                }

                &:focus {
                    box-shadow: 0 0 0 1px $clr-primary;
                    color: $clr-primary;
                    border-color: transparent;
                }

                &:focus~ {
                    label {
                        color: $clr-primary;
                    }
                }
            }

            input {
                height: 44px;
                padding-left: 15px;
                padding-right: 15px;
            }

            textarea {
                min-height: 60px;
                max-height: 120px;
                padding: 15px;
                resize: vertical;
            }
        }

        .submit-btn {
            background-color: $clr-primary;
            color: white;
            font-size: 16px;
            font-weight: 100;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 44px;
            border: none;
            padding-left: 2em;
            padding-right: 2em;
            margin-left: auto;
            cursor: pointer;
            transition: $transition;

            &:hover {
                background-color: rgba($clr-primary, 0.9);
            }

            &:active,
            &:focus {
                background-color: rgba($clr-primary, 0.8);
            }
        }
    }
}